html, body {
  font-family: monospace;
  position: relative;
  height: 98%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #dee;
}

div.app {
  background: #eee;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
  border: 1px solid blue;
  width: 80%;
  height: 90%;
}
