html, body {
  font-family: monospace;
  position: relative;
  height: 98%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #dee;
}

div.app {
  background: #eee;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
  border: 1px solid blue;
  width: 800px;
  height: 600px;
}

div.app div.cell {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  outline: 1px solid rgba(170, 50, 220, .2);
  float: left;
  background: #fff;
}

div.app div.cell.on {
  background: lightgreen;
}

div.controls {
  position: fixed;
  top: 4%;
  right: 10%;
}

div.controls div {
  padding: 10px 24px;
  margin-bottom: 4px;
  font-weight: bold;
  background: #7e3;
  border: 1px solid #888;
  border-radius: 3px;
  width: 63px;
  text-align: center;
  cursor: default;
}

div.controls div.speed-control {
  display: inline;
  padding: 0;
  border: none;
  background: transparent;
}

div.controls div.start-stop:hover , div.controls div.clear-state:hover {
  background: lightblue;
}

div.speed-control div {
  width: 10px;
  display: inline-block;
  background: #7f3;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 3px;
}

div.speed-control div:hover {
  background: lightblue;
}

div.speed-control div.value {
  background: #3f7;
}
